* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_3 {
  width: 100%;
  height: 982px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v200_3 {
  width: 798px;
  height: 243px;
  background: url("../images/v200_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 76px;
  border-top-left-radius: 240px;
  border-top-right-radius: 240px;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 240px;
  overflow: hidden;
}
.v64_4 {
  width: 628px;
  color: url("../images/v64_4.png");
  position: absolute;
  top: 200px;
  left: 161px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jomolhari;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v64_45 {
  width: 403px;
  height: 57px;
  background: rgba(206,206,206,0.6899999976158142);
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 554px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v64_48 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 502px;
  left: 575px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v64_31 {
  width: 358px;
  height: 50px;
  background: rgba(255,244,0,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 274px;
  overflow: hidden;
}
.v200_8 {
  width: 358px;
  height: 50px;
  background: rgba(255,244,0,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 617px;
  overflow: hidden;
}
.v200_7 {
  width: 358px;
  height: 50px;
  background: rgba(255,244,0,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 274px;
  overflow: hidden;
}
.v200_6 {
  width: 358px;
  height: 50px;
  background: rgba(255,244,0,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 617px;
  overflow: hidden;
}
.v200_9 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 648px;
  left: 258px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v202_13 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 690px;
  left: 341px;
  font-family: Lateef;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v202_14 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 805px;
  left: 341px;
  font-family: Lateef;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v202_15 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 691px;
  left: 553px;
  font-family: Lateef;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v202_16 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 805px;
  left: 553px;
  font-family: Lateef;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v200_10 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 648px;
  left: 660px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v200_11 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 761px;
  left: 250px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v201_3 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 762px;
  left: 638px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v64_155 {
  width: 100%;
  height: 136px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v64_9 {
  width: 354px;
  height: 57px;
  background: rgba(206,206,206,0.6899999976158142);
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 478px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v64_10 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 63px;
  font-family: Rhodium Libre;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v201_5 {
  width: 660px;
  height: 139px;
  background: url("../images/v201_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 570px;
  overflow: hidden;
}
.v201_6 {
  width: 36px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_7 {
  width: 660px;
  height: 139px;
  background: url("../images/v201_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_8 {
  width: 39px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 0px;
}
.v201_9 {
  width: 39px;
  height: 139px;
  background: url("../images/v201_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 621px;
  overflow: hidden;
}
.v201_10 {
  width: 39px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
}
.v201_11 {
  width: 39px;
  height: 19px;
  background: url("../images/v201_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_12 {
  width: 39px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v242_4 {
  width: 100%;
  height: 107px;
  background: rgba(217,217,217,0.2800000011920929);
  opacity: 0.5600000023841858;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.v120_3 {
  width: 55px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 306px;
}
.v64_30 {
  width: 141px;
  color: rgba(255,245,0,0.49000000953674316);
  position: absolute;
  top: 41px;
  left: 121px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v252_315 {
  width: 281px;
  height: 88px;
  background: rgba(255,245,0,0.49000000953674316);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v252_4 {
  width: 253px;
  height: 71px;
  background: url("../images/v252_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
